body {
  background-color: #222;
  color: grey;
  font-family: sans-serif;
}
.mainNav {
  display: flex;
}
.mainNav > a {
  flex: 1;
  margin: 1rem;
  padding: .3rem;
  text-decoration: none;
  color: white;
  border-radius: .2rem;
  text-align: center;
  background-color: #505050;
}
.mainNav > a:hover {
  background-color: gray;
}
